/* SLIDER HOME PAGE */
.slider{
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.slider .list{
    position: absolute;
    width: max-content;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    max-width: 100vw;
    height: 100vh;
    background-color: rgba(41, 40, 40, 0.288);
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}